@font-face {
    font-family: 'Helvetica75Bold';
    src: url('helveticabd.eot');
    src: url('helveticabd.eot') format('embedded-opentype'),
         url('helveticabd.woff') format('woff'),
         url('helveticabd.ttf') format('truetype'),
         url('helveticabd.svg#Helvetica75Bold') format('svg');
}
